name: Test Build Container Images

on:
  pull_request:
    branches:
      - "main"
    paths:
      - '**/Dockerfile'
      - '**/Makefile'
      - '.github/workflows/build-and-push.yml'
      - '.github/workflows/pr-build.yml'

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Only build images
      run: make build
